/.terraform.lock.hcl
.terraform/
.tools/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
*.tfplan
*.tfvars
*.tfvars.json
*.auto.tfvars
*.auto.tfvars.json
*.pem
*.pfx
*.key
.env
.env.*
!.env.example
